.detailContainer{
  color: #cedbe4;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:30px;
  padding: 38px;
}

.detailImage{
  margin: 0;
  padding: 0;
}

.detailImage img{
  margin: 0;
  padding: 0;
  width: 35vw;
  border-radius: 12px;
  object-fit: cover;
}

.detailInfo{
  width: 70%;
  text-align: left;
  line-height: 1.5em;
}

@media screen and (max-width: 830px){
  .detailContainer{
    flex-direction: column;
    gap: 20px;
  }
  .detailInfo{
    width: 90%;
    text-align: center;
    line-height: 1.5em;
  }
  .detailImage img{
    width: 75vw;
    border-radius: 12px;
    object-fit: cover;
  }
} 

