.NavBarContainer{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  margin: 12px 32px 0 32px;
}

.WelcomeContainer {
  display: flex;
  align-items: center; /* Para alinear verticalmente la imagen y el texto */
}

.WelcomeImage {
  width: 55px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 55px; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-right: 8px; /* Espacio entre la imagen y el texto */
}
.NavBarContainer h2{
  margin-left: 28px;
  color: #cedbe4;
  font-size: 28px;
  margin: 12px;
}
.NavBarContainer h3{
  margin-left: 28px;
  color: #71b4e3;
  font-size: 18px;
  margin: 12px;
}

.NavBarContainer a{
  text-decoration: none;
  color: #cedbe4
}